# Ignore all files in the Data directory except the default file of codes to ignore.
Data/

# Ignore all files in the Results directory.
Results/

# Ignore all files in the Papers directory.
Papers/

# Ignore compiled Python files.
*.pyc

# Ignore PyCharm files.
*.idea